[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CoastlineFD"]
	path = CoastlineFD
	url = https://github.com/redworld123/coastlinefd
